[submodule "submodules/parameterized-utils"]
	path = submodules/parameterized-utils
	url = git@github.com:GaloisInc/parameterized-utils.git
[submodule "submodules/semmc"]
	path = submodules/semmc
	url = git@github.com:GaloisInc/semmc.git
[submodule "submodules/dismantle"]
	path = submodules/dismantle
	url = git@github.com:travitch/dismantle.git
[submodule "submodules/macaw-x86"]
	path = submodules/macaw-x86
	url = git@gitlab-ext.galois.com:macaw/macaw-x86.git
[submodule "macaw"]
	path = macaw
	url = git@gitlab-ext.galois.com:macaw/macaw.git
[submodule "submodules/crucible"]
	path = submodules/crucible
	url = git@github.com:GaloisInc/crucible.git
[submodule "submodules/dwarf"]
	path = submodules/dwarf
	url = git@github.com:GaloisInc/dwarf.git
[submodule "submodules/elf-edit"]
	path = submodules/elf-edit
	url = git@github.com:GaloisInc/elf-edit.git
[submodule "submodules/macaw"]
	path = submodules/macaw
	url = git@gitlab-ext.galois.com:macaw/macaw.git
