*.o
*~
*.hi
/cabal.project
/cabal.project.local
/dist/
/dist-newstyle/
/cabal.sandbox.config
/.cabal-sandbox
/.stack-work/
/stack.yaml
/TAGS
.ghc.environment.*
**/tests/samples/*.last-actual
**/tests/samples/*.s
