*.o
*~
*.hi
/.cabal-sandbox
/.ghc.environment.*
/cabal.project
/cabal.project.freeze
/cabal.project.local
/cabal.sandbox.config
/dist/
/dist-newstyle/
/TAGS
/**/tests/samples/*.last-actual
/**/tests/samples/*.s