[submodule "x86/tests/submodules/dwarf"]
	path = deps/dwarf
	url = https://github.com/GaloisInc/dwarf.git
[submodule "x86/tests/submodules/elf-edit"]
	path = deps/elf-edit
	url = https://github.com/GaloisInc/elf-edit.git
[submodule "x86/tests/submodules/flexdis86"]
	path = deps/flexdis86
	url = https://github.com/GaloisInc/flexdis86.git
[submodule "x86/tests/submodules/parameterized-utils"]
	path = deps/parameterized-utils
	url = https://github.com/GaloisInc/parameterized-utils.git
[submodule "deps/crucible"]
	path = deps/crucible
	url = https://github.com/GaloisInc/crucible.git
[submodule "deps/llvm-pretty"]
	path = deps/llvm-pretty
	url = https://github.com/elliottt/llvm-pretty.git
[submodule "submodules/semmc"]
	path = deps/semmc
	url = git@github.com:GaloisInc/semmc.git
[submodule "submodules/dismantle"]
	path = deps/dismantle
	url = git@github.com:travitch/dismantle.git
[submodule "submodules/macaw-loader"]
	path = deps/macaw-loader
	url = git@github.com:GaloisInc/macaw-loader.git
[submodule "deps/llvm-pretty-bc-parser"]
	path = deps/llvm-pretty-bc-parser
	url = https://github.com/GaloisInc/llvm-pretty-bc-parser
[submodule "deps/asl-translator"]
	path = deps/asl-translator
	url = https://github.com/GaloisInc/asl-translator.git
[submodule "deps/arm-asl-parser"]
	path = deps/arm-asl-parser
	url = https://github.com/GaloisInc/arm-asl-parser.git
[submodule "deps/what4-serialize"]
	path = deps/what4-serialize
	url = https://github.com/GaloisInc/what4-serialize.git
