packages: macaw-ppc/
          macaw-arm/
          macaw-semmc/
          macaw-ppc-symbolic/
          base/
          x86/
          symbolic/
          x86_symbolic/
          refinement/
          submodules/macaw-loader/macaw-loader
          submodules/macaw-loader/macaw-loader-arm
          submodules/macaw-loader/macaw-loader-ppc
          submodules/macaw-loader/macaw-loader-x86
          submodules/semmc/semmc/
          submodules/semmc/semmc-ppc/
          submodules/semmc/semmc-arm/
          submodules/dismantle/dismantle-tablegen/
          submodules/dismantle/dismantle-ppc/
          submodules/dismantle/dismantle-arm/
          submodules/dismantle/dismantle-thumb/
          deps/parameterized-utils/
          deps/crucible/crucible/
          deps/crucible/crucible-llvm/
          deps/crucible/what4/
          deps/dwarf/
          deps/elf-edit/
          deps/flexdis86/
          deps/flexdis86/binary-symbols/
          deps/llvm-pretty/
          deps/llvm-pretty-bc-parser/
