packages: macaw-ppc/
          macaw-arm/
          macaw-semmc/
          macaw-ppc-symbolic/
          base/
          x86/
          symbolic/
          x86_symbolic/
          refinement/
          deps/macaw-loader/macaw-loader
          deps/macaw-loader/macaw-loader-arm
          deps/macaw-loader/macaw-loader-ppc
          deps/macaw-loader/macaw-loader-x86
          deps/semmc/semmc/
          deps/semmc/semmc-ppc/
          deps/semmc/semmc-arm/
          deps/semmc/semmc-synthesis/
          deps/semmc/semmc-learning/
          deps/dismantle/dismantle-tablegen/
          deps/dismantle/dismantle-ppc/
          deps/dismantle/dismantle-arm/
          deps/dismantle/dismantle-thumb/
          deps/parameterized-utils/
          deps/crucible/crucible/
          deps/crucible/crucible-llvm/
          deps/what4/what4/
          deps/what4-serialize/
          deps/dwarf/
          deps/elf-edit/
          deps/flexdis86/
          deps/flexdis86/binary-symbols/
          deps/llvm-pretty/
          deps/llvm-pretty-bc-parser/
